body,html{
    margin: 0;
    padding: 0;
}

.header {
    background: url('images/header-background.png') no-repeat top left;
    height: 100%;
    background-size: cover;
    box-shadow: inset 0px 27px 60px #060606;
}

.header .menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header .menu ul li{
    margin: 0;
    padding: 0;
    float: left;
}

.header .menu ul li a{
    color: white;
    font-size: 15px;
    text-decoration: none;
    padding: 2px 11px;
    font-family: "Proxima Nova";
    border-top: 5px solid transparent;
    display: block;
}

.header .menu ul li a:hover{
    border-top: 5px solid #54d154;
}


.header .menu ul li a.first{
    padding-left: 0;
}

.texto{
    text-align: center;
}
.texto h1{
    color: white;
    text-align: center;
    font-family: "Proxima Nova";
    font-weight: bold;
    font-size: 60px;
    margin: 115px;
    padding: 0px;
    margin: 279px 0px 0px 0px
    
}
.texto button{
    border-radius: 24px;
    background-color: #54d154;
    color: white;
    border: none;
    padding: 13px 20px;
    font-family: "Proxima Nova";
    font-size: 22px;
    margin-top: 20px;
}

.search {
    position: relative;
}

.search i{
    color: white;
    position: absolute;
    top: 8px;
    right: 23px;
    color: #111111;
}

.search input {
    border: none;
    background: rgba(255,255,255,0.89);
    color: #111111;
    font-size: 16px;
    border-radius: 25px;
    padding: 4px 20px 4px 8px;
    margin-top: 5px;
    width: 100%;
}

.search input:focus {
    outline: none;
}