body,html{
    margin: 0;
    padding: 0;
}


/* ESTILOS DEL HEADER */
.header {
    background: url('images/header-background.png') no-repeat top left;
    height: 100%;
    background-size: cover;
    box-shadow: inset 0px 27px 60px #060606;
}

.header .menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header .menu ul li{
    margin: 0;
    padding: 0;
    float: left;
}

.header .menu ul li a{
    color: white;
    font-size: 15px;
    text-decoration: none;
    padding: 2px 11px;
    font-family: "Proxima Nova";
    border-top: 5px solid transparent;
    display: block;
}

.header .menu ul li a:hover{
    border-top: 5px solid #54d154;
}


.header .menu ul li a.first{
    padding-left: 0;
}

.texto{
    text-align: center;
}
.texto h1{
    color: white;
    text-align: center;
    font-family: "Proxima Nova";
    font-weight: bold;
    font-size: 60px;
    margin: 115px;
    padding: 0px;
    margin: 279px 0px 0px 0px
    
}
.texto button{
    border-radius: 24px;
    background-color: #54d154;
    color: white;
    border: none;
    padding: 13px 20px;
    font-family: "Proxima Nova";
    font-size: 22px;
    margin-top: 20px;
}

.search {
    position: relative;
}

.search i{
    color: white;
    position: absolute;
    top: 8px;
    right: 23px;
    color: #111111;
}

.search input {
    border: none;
    background: rgba(255,255,255,0.89);
    color: #111111;
    font-size: 16px;
    border-radius: 25px;
    padding: 4px 20px 4px 8px;
    margin-top: 5px;
    width: 100%;
}

.search input:focus {
    outline: none;
}

/* TERMINAN ESTILOS DEL HEADER */


/* ESTILOS DEL WHAT WE DO */

.what-we-do {
    text-align: center;
    padding: 45px 0;
}

.what-we-do h4{
    font-family: 'Montserrat', sans-serif;
    color: #828181;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 300;
    margin: 10px 0;
}

.what-we-do .line{
    width: 43px;
    background: #828181;
    height: 2px;
    display: inline-block;
}   

.what-we-do p{
    color: #b7b3b3;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 62px;
}
.what-we-do .cuadrado{
        background: #e1f3e1;
        border-radius: 24px;
        padding: 15px;
        max-width: 169px;
        display: inline-block;


      
}
.what-we-do .cuadrado i{
    color:#54d154;
    font-size: 107px; 
}
.what-we-do .bloque{
    text-align: center;
    margin-bottom: 40px;
}
.what-we-do h5{
    font-family: "Proxima Nova";
    color: #828181;
    font-size: 28px;
    margin-top: 39px;
    margin-bottom: 1px;

}
.what-we-do .bloque .camera {
    color: #8c8b8b;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;


}
.what-we-do .bloque button{
    border: none;
    border-radius: 29px;
    padding: 8px;
    background: #54d154;
    font-family: "Proxima Nova";
    font-weight: bold;
    color: white;
    font-size: 18px;
    padding-right: 18px;
    padding-left: 18px; 
    margin-top: 16px;

}
.OUR-LATEST-WORK {
    text-align: center;
    padding: 45px 0;
    background: #54d154;
    margin: 80px 0px;
}

.OUR-LATEST-WORK h4{
    font-family: 'Montserrat', sans-serif;
    color: #2b9b2b;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 300;
    margin: 10px 0;
}

.OUR-LATEST-WORK .line{
    width: 43px;
    background: #207b20;
    height: 2px;
    display: inline-block;
}   

.OUR-LATEST-WORK p{
    color: #207b20;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 62px;

}
.columna{
    margin-top: 40px;

}
.filter{
    text-align: center;

}
.filter a{
    text-decoration: none;
    color: #54d154;
    border: 1px solid #2b9b2b;
    background: white;
    padding: 6px 14px;
    float: left;
    display: block;
    font-family: 'Montserrat', sans-serif;
}

.filter a:hover, .filter a.active{
    color: white;
    background: #2b9b2b;
}

.filter .wrapper{
    margin: 10px auto 40px;
    overflow: hidden;
    width: auto;
    height: auto;
}

.filter a.photography{
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.filter a.print{
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}
.view-more a{
        text-decoration: none;
        background:#2b9b2b;
        color: white;
        padding: 10px 25px;
        font-family: 'Montserrat', sans-serif;
        border-radius: 20px;
        margin-top: 60px;
        display: inline-block;

}

.photo{
    margin-bottom: 20px;
}

.OUR-HAPPY-CLIENT {
    text-align: center;
    padding: 45px 0;
    background: #f2f1f1;
    margin: 80px 0px;
}


.OUR-HAPPY-CLIENT h4{
    font-family: 'Montserrat', sans-serif;
    color: #828181;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 300;
    margin: 10px 0;
}

.OUR-HAPPY-CLIENT .line{
    width: 43px;
    background: #828181;
    height: 2px;
    display: inline-block;
}   

.OUR-HAPPY-CLIENT p{
    color: #b7b3b3;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 62px;
}

.see-all a{
        text-decoration: none;
        background:#dddcdc;
        color: grey;
        padding: 10px 25px;
        font-family: 'Montserrat', sans-serif;
        border-radius: 20px;
        margin-top: 60px;
        display: inline-block;

}

